**loops**

- loops are used to execute a block of code multiple times

- 3 parameters

    - start point

    - Increment or decrement

    - condition to stop

- for loop and while loop

- if we know the condition when to stop for loop
                                       
- if we dont know when to stop while loop

**case-1:   range(stop)**

- start point by default =0

- direction: positive direction

- positive directionmeans **increment**

- by default increment by **one**

- last point=stop-1

In [16]:
range(10)

range(0, 10)

In [17]:
print(1)
print(2)
print(3)

1
2
3

In [18]:
for i in range(10):
    print(i)

# range(stop)
# start=0
# +ve +1
# last=10-1=9

0
1
2
3
4
5
6
7
8
9

In [ ]:
print('good morning')
print('good morning')
print('good morning')

for i in range(3)
    print('good morning')

In [ ]:
# wap ask the user take a random number
# print even or odd
# do this task 3 times

In [3]:
import random
def RANDOM():
    for i in range(3):
        num=random.randint(1,100)
        if num%2==0:
            print(f'the {num} is even')
        else:
            print(f'the  {num} is odd')
RANDOM()

the  61 is odd
the  75 is odd
the 12 is even

In [19]:
for i in range(3):
    num=eval(input('enter the number:'))
    if num%2==0:
        print(f'the {num} is even')
    else:
        print(f'the  {num} is odd')

enter the number: 26

the 26 is even

enter the number: 43

the  43 is odd

enter the number: 12

the 12 is even

In [20]:

for i in range(3):
    num=eval(input('enter the number:'))
    if num%2==0:
        print(f'the {num} is even')
    else:
        print(f'the  {num} is odd')

enter the number: 98

the 98 is even

enter the number: 65

the  65 is odd

enter the number: 34

the 34 is even

In [21]:
try:
    for i in range(3):
        num=eval(input('enter the number:'))
        if num%2==0:
            print(f'the {num} is even')
        else:
            print(f'the  {num} is odd')
except Exception as e:
    print(e)

enter the number: 76

the 76 is even

enter the number: 23

the  23 is odd

enter the number: 54

the 54 is even

**case-2:range(start,stop)**

  - start point = start

  - by default positive direction and increment by one

  - last point = stop-1

In [7]:
range(100,105)
# start =100
# last=105-1=104
# 100,101,102,103,104

range(100, 105)

In [8]:
for i in range(100,105):
    print(i)

100
101
102
103
104

In [9]:
print(1)
print(2)
print(3)

1
2
3

In [10]:
print(1,end=' ')
print(2,end=' ')
print(3)

1 2 3

In [12]:
for i in range(1,10):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [ ]:
# is really variable 'i' using in a logic
# or
# it is just a loop

In [ ]:
# wap ask the user print the square of the number from 20 to 25

In [14]:
for i in range (20,26):
    print(f"the square of {i} is {i*i}")

the square of 20 is 400
the square of 21 is 441
the square of 22 is 484
the square of 23 is 529
the square of 24 is 576
the square of 25 is 625

In [ ]:
# wap ask the user get 3 random numbers between 100 to 200
# print square of them

In [15]:
import random
for i in range (3):
    num=random.randint(100,200)
    print(f'the square of {num} is {num*num}')

the square of 134 is 17956
the square of 195 is 38025
the square of 186 is 34596

**case-3:range (start,stop,step)**

- start value = start

- if step is positive sign

     - it is positive direction

     - increment by **step value**
 
     - last value = stop-1
 
- if step is negative sign

     - it is a negative direction(decrement)
 
     - decrement by step value
 
     - last value= stop+1

In [22]:
range(1,20,2)
# start=1
# step=+2
# increment by 2
# last=stop-1=20-2=19
# 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 
# 1   3   5   7   9    11    13    15    17    19

range(1, 20, 2)

In [23]:
for i in range(1,20,2):
    print(i,end=' ')

1 3 5 7 9 11 13 15 17 19

In [ ]:
range(20,1,-2)
# real time axis analysis 
# start=20
# step=-2
# negative direction
# decrement by 2
# last=stop+1=2

In [26]:
for i in range (20,1,-2):
    print(i,end=' ')

20 18 16 14 12 10 8 6 4 2

In [27]:
range(20,1,2)
# start =20
# step=+2
#  positive direction
# increment by 2
# last=1-1=0

range(20, 1, 2)

In [31]:
for i in range (20,1,2):
    print(i)

In [ ]:
range(-20,-1,2):

In [32]:
range(18,3,2)
# start=18
# step=+2
# positive increment by 2
# last=stop-1=3-1=2

range(18, 3, 2)

In [33]:
for i in range(18,3,2):
    print(i,end=' ')

In [ ]:
range(3,18,3)    # p
range(3,18,-3)   # np
range(3,-18,3)   # np
range(-3,18,3)   # p
range(3,-18,-3)  # p
range(-3,18,-3)  # np
range(-3,-18,3)  #np
range(-3,-18,-3) #p
range(18,3,3)    # np
range(18,3,-3    # p
range(18,-3,3)   # np
range(-18,3,3)   # p
range(18,-3,-3)  # p
range(-18,3,-3)  # np

In [34]:
range(-18,3,-3)

range(-18, 3, -3)

In [38]:
for i in range(-18,3,-3):
    print(i,end=' ')

In [39]:
for i in range(-18,-3,3):
    print(i,end=' ')

-18 -15 -12 -9 -6

In [9]:
# wap ask the user enter a number 
# and find the divisors of the number
# 75%1==0
#75%2==0
# 75%3==0
#
#
#
# 75%75==0

# loop should run the number you are taken
# 75%i


num=75
for i in range(1,num+1):
    if num%i==0:
        print(i)

1
3
5
15
25
75

In [11]:
num=eval(input('enter the number:'))
for i in range(1,num+1):
    if num%i==0:
        print(i,end=' ')

enter the number: 50

1 2 5 10 25 50

In [ ]:
75/1===0?
75/2===0?
75/3===0?


75/75===0?

what is common what is changing
75%i==0

In [ ]:
# wap ask the user get a random number between 1 to 10
# ask the user enter a number between  1 to 10
# if both are equal
# print won
#otherwise
# print lost
# run the above logic 3 times

In [1]:
import random
n1=random.randint(1,10)
n2=eval(input('enter a number:'))
if n1==n2:
    print('won')
else:
    print('lost')

enter a number: 54

lost

In [2]:
for i in range(3):
    n1=random.randint(1,10)
    print(n1)
    n2=eval(input('enter a number:'))
    if n1==n2:
        print('won')
    else:
        print('lost')

7

enter a number: 5

lost
8

enter a number: 3

lost
8

enter a number: 9

lost

In [12]:
for i in range(3):
    n1=random.randint(1,10)
    print(n1)
    n2=eval(input('enter a number:'))
    if n1==n2:
        print('won')
        break
    else:
        print('lost')

4

enter a number: 45

lost
10

enter a number: 32

lost
4

enter a number: 76

lost

In [ ]:
# case-1: we repeated 3 time irrespective of win or lose
# case-2: we applied a break when a successful attempt 
# case-3: every time you loose 
#        i want to print how many chances left for you
# case-4: if you lose all the chances
#         display try after 24 hours

**continue-pass-break**

In [13]:
for i in range(5):
    if i==2:
        print('great')
    print(i)
# step-1: i=0  if 0==2  F  print(0)
# step-2: i=1  if 1==2  F  print(1)
# step-3: i=2  if 2==2  t  great   print(2)
# step-4: i=3  if 3==2  f  print(3)
# step-5: i=4  if 4==2  f  print(4)
# 0  1  great   2   3  4

0
1
great
2
3
4

In [15]:
for i in range(5):
    if i==2:
        print('great')
        continue
    print(i,end='===>')

0===>1===>great
3===>4===>

In [14]:
for i in range(5):
    if i==2:
        continue
        print('great')
    print(i,end='===>')

0===>1===>3===>4===>

In [16]:
for i in range(5):
    if i==2:
        print('great')
        continue
        print('super')
    print(i)
print('okay')

0
1
great
3
4
okay

In [17]:
for i in range(5):
    if i==2:
        print('great')
        continue                      # we missed 2
    print(i,end='===>')

for i in range(5):
    if i==2:
        continue                     # we missed great
        print('great')
    print(i,end='===>')

for i in range(5):
    if i==2:
        print('great')
        continue
        print('super')           # we missed super
    print(i)
print('okay')

0===>1===>great
3===>4===>0===>1===>3===>4===>0
1
great
3
4
okay

In [1]:
for i in range(5):
    if i==2:
        print('great')
        pass                     
    print(i)

for i in range(5):
    if i==2:
        pass                    
        print('great')
    print(i)

for i in range(5):
    if i==2:
        print('great')
        pass
        print('super')           
    print(i)
print('okay')

0
1
great
2
3
4
0
1
great
2
3
4
0
1
great
super
2
3
4
okay

In [2]:
for i in range(5):
    if i==2:
        print('great')
        break                     
    print(i)

for i in range(5):
    if i==2:
        break                    
        print('great')
    print(i)

for i in range(5):
    if i==2:
        print('great')
        break
        print('super')           
    print(i)
print('okay')

0
1
great
0
1
0
1
great
okay

**continue**

   - will skip the next line

   - directly goes to next iterations

**pass**

   - pass just allow the loop execution

**break**

   - break will stop the execution

**summation wrapper**

In [19]:
# I want to do first 10 natural number sum
1+2+3+4+5+6+7+8+9+10

55

In [ ]:
1+0=1
2+1=3
3+3=6
4+6=10
5+10=15
6+15=21
7+21=28
8+28=36
9+36=45
10+45=55

s=0
s=s+i

In [20]:
s=0
for i in range(1,11):
    s=s+i
print(s)

55

In [21]:
s=0
for i in range(1,11):
    s=s+i
    print(s)

1
3
6
10
15
21
28
36
45
55

In [22]:
range(1,5) # 1,2,3,4,5

range(1, 5)

In [14]:
for i in range(1,5):
    print(i)

# i=1
# i=2
# i=3
# i=4

1
2
3
4

In [24]:
for i in range(1,5):
    
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (658912104.py, line 3)

In [16]:
for i in range(1,5):
    pass
    
print(i)

4

In [ ]:
# wap ask the user get the sum of all divisors of 75
# first find the divisors of 75

In [26]:
num=eval(input('enter the number:'))
for i in range(1,num+1):
    if num%i==0:
        print(i)

enter the number: 75

1
3
5
15
25
75

In [28]:
s=0
num=eval(input('enter the number:'))
for i in range(1,num+1):
    if num%i==0:
        s=s+i
print(f'the sum of all {num} divisors are:{s}')

enter the number: 75

the sum of all 75 divisors are:124

In [3]:
# wap ask the user get a 5 even numbers sum between 1 to 100
s=0
for i in range(5):
    num=eval(input('enter a number between 1-100:'))
    if num%2==0:
        print(f'{num} is even')
        s=s+i

print(f'the sum of all even numbers are:{s}')

enter a number between 1-100: 1
enter a number between 1-100: 2

2 is even

enter a number between 1-100: 3
enter a number between 1-100: 4

4 is even

enter a number between 1-100: 5

the sum of all even numbers are:4

In [ ]:
# we learned about case-1 case-2 case-3
# we also understand how i

**counter wrapper**

In [ ]:
#  summ=0      ===== count=0
# summ=summ+i     ===== count= count+1

In [2]:
count=0
for i in range(3):
    print('good eve')
    count = count+1    #  count+=1  summ=summ+i   summ+=i

# step-1: i=0  print('gv')  count=0+1=1
# step-2: i=1  print('gv')   count=1+1=2
# step-3: i=2  print('gv')   count=2+1=3

good eve
good eve
good eve

In [6]:
count

3

In [ ]:
summ=0
for i in range(3):
    print('good eve')
    count = count+1    #  count+=1  summ=summ+i   summ+=i

In [ ]:
# wap ask the user get 5 random numbers
# apply even or odd logic
# and count how many even numbers are appeared

In [9]:
import random
even_count=0
odd_count=0
for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        even_count=even_count+1
        print(f'even {num}')
    else:
        odd_count=odd_count+1
        print(f'odd {num}')

print(f'the total even count is:{even_count}')
print(f'the total even count is:{odd_count}')

even 64
odd 81
odd 5
even 82
even 44
the total even count is:3
the total even count is:2

In [10]:
count

5

In [ ]:
# wap ask the user count the divisors of 75

In [11]:

count=0
summ=0
for i in range (1,76):
    if 75%i==0:
        count=count+1
        summ=summ+i
        print(i)
print(count,summ)

1
3
5
15
25
75
6 124

In [12]:
import random
even_count,odd_count=0,0
even_summ,odd_summ=0,0
for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        even_count=even_count+1
        even_summ=even_summ+num
        print(f'even {num}')
    else:
        odd_count=odd_count+1
        odd_summ=odd_summ+num
        print(f'odd {num}')


print(f'the total even count is:{even_count}')
print(f'the total odd count is:{odd_count}')

even 34
even 90
odd 7
even 60
odd 59
the total even count is:3
the total odd count is:2

**in operator**

- for loop applied on **range**

- for loop applied on **in**

- range word will give a sence of **number**

- in operator is used access the **characters or strings**

In [3]:
range(100) # correct
range('100') # w

TypeError: 'str' object cannot be interpreted as an integer

In [3]:
s1='python'

In [4]:
'p' in s1
'P' in s1

False

In [15]:
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'

True

In [4]:
s1='murali'
for i in s1:
    print(i)

m
u
r
a
l
i

In [16]:
s='100'
s1=int(s)
s1

100

In [17]:
for i in s:
    print(i)

1
0
0

In [18]:
for i in s:
    print(int(i))

1
0
0

In [20]:
s='100'
for i in s:
    print(i,int(i))

1 1
0 0
0 0

In [21]:
s='100'
for i in s:
    print(i,int(i))
    print(type(i))

1 1
<class 'str'>
0 0
<class 'str'>
0 0
<class 'str'>

In [5]:
s='100'
for i in s:
    print(i,int(i))
    print(type(i),type(int(i)))

1 1
<class 'str'> <class 'int'>
0 0
<class 'str'> <class 'int'>
0 0
<class 'str'> <class 'int'>

In [ ]:
'p' > 'P'  # f
'p' < 'P'  # f
'p' == 'P' # f
'p' = 'P'  # t

**ASCII:Amercian Standared Code For Information Interchange**

   - ord

   - chr

In [22]:
ord('p'),ord('P')
# 'p'>'P'
# 112>80

(112, 80)

In [23]:
chr(112),chr(80)

('p', 'P')

In [24]:
ord('A'),ord('a')

(65, 97)

In [5]:
chr(65),chr(97)

('A', 'a')

In [6]:
s='krishna'
for i in s:
    print(i,ord(i))

k 107
r 114
i 105
s 115
h 104
n 110
a 97

In [25]:
s='python'


ord('p')
ord('y')
ord('t')
ord('h')
ord('o')
ord('n')

110

In [26]:
s='python'
for i in s:
    print(i,ord(i))

p 112
y 121
t 116
h 104
o 111
n 110

In [27]:
s='python'
for i in s:
    print(i,ord(i))
    print(f'the ASCII value of {i} is {ord(i)}')

p 112
the ASCII value of p is 112
y 121
the ASCII value of y is 121
t 116
the ASCII value of t is 116
h 104
the ASCII value of h is 104
o 111
the ASCII value of o is 111
n 110
the ASCII value of n is 110

In [28]:
import string
dir (string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [31]:
s=string.ascii_uppercase
for i in s:
    print(i,ord(i),end='  ')

A 65  B 66  C 67  D 68  E 69  F 70  G 71  H 72  I 73  J 74  K 75  L 76  M 77  N 78  O 79  P 80  Q 81  R 82  S 83  T 84  U 85  V 86  W 87  X 88  Y 89  Z 90

In [33]:
s=string.ascii_uppercase
for i in s:
    print(i,':',ord(i),end='  ')

A : 65  B : 66  C : 67  D : 68  E : 69  F : 70  G : 71  H : 72  I : 73  J : 74  K : 75  L : 76  M : 77  N : 78  O : 79  P : 80  Q : 81  R : 82  S : 83  T : 84  U : 85  V : 86  W : 87  X : 88  Y : 89  Z : 90

In [ ]:
# i want to take numbers from 65 to 90
# i want to see who is 65

In [9]:
for i in range (65,91):
    print(i,chr(i),end=' ')

65 A 66 B 67 C 68 D 69 E 70 F 71 G 72 H 73 I 74 J 75 K 76 L 77 M 78 N 79 O 80 P 81 Q 82 R 83 S 84 T 85 U 86 V 87 W 88 X 89 Y 90 Z

In [ ]:
# how many ascii informations are available
# do the above task from 0 to 150

In [35]:
for i in range(40,110):
    print(i,':',chr(i),end=' ')

40 : ( 41 : ) 42 : * 43 : + 44 : , 45 : - 46 : . 47 : / 48 : 0 49 : 1 50 : 2 51 : 3 52 : 4 53 : 5 54 : 6 55 : 7 56 : 8 57 : 9 58 : : 59 : ; 60 : < 61 : = 62 : > 63 : ? 64 : @ 65 : A 66 : B 67 : C 68 : D 69 : E 70 : F 71 : G 72 : H 73 : I 74 : J 75 : K 76 : L 77 : M 78 : N 79 : O 80 : P 81 : Q 82 : R 83 : S 84 : T 85 : U 86 : V 87 : W 88 : X 89 : Y 90 : Z 91 : [ 92 : \ 93 : ] 94 : ^ 95 : _ 96 : ` 97 : a 98 : b 99 : c 100 : d 101 : e 102 : f 103 : g 104 : h 105 : i 106 : j 107 : k 108 : l 109 : m

In [36]:
for i in range(3078,3130):
    print(i,':',chr(i),end=' ')

3078 :  3079 :  3080 :  3081 :  3082 :  3083 :  3084 :  3085 :  3086 :  3087 :  3088 :  3089 :  3090 :  3091 :  3092 :  3093 :  3094 :  3095 :  3096 :  3097 :  3098 :  3099 :  3100 :  3101 :  3102 :  3103 :  3104 :  3105 :  3106 :  3107 :  3108 :  3109 :  3110 :  3111 :  3112 :  3113 :  3114 :  3115 :  3116 :  3117 :  3118 :  3119 :  3120 :  3121 :  3122 :  3123 :  3124 :  3125 :  3126 :  3127 :  3128 :  3129 :